body {
	font: 14px Arial;
	background-color: #eee;
}

ul {
	list-style: none;
	padding: 0;
}

ul li {
	display: inline-block;
}

ul li a {
	padding: 10px 20px;
	margin: 5px;
	background-color: #ddd;
}

h1 {
	margin-top: 40px;
}

.pageContainer {
	margin: 10px auto;
	width: 600px;
	padding: 20px;
	background-color: #fff;
}

table {
	margin-top: 20px;
	width: 100%;
}

table th {
	text-align: left;
}

table th,
table td {
	padding: 4px 6px;
}

table input {
	width: 50px;
}

a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

nav {
	float: left;
	width: 430px;
}

.shopping-bag-container {
	width: 170px;
	float: right;
}

.shopping-bag {
	position: relative;
}

.shopping-bag__button {
	padding: 10px 20px;
	margin: 5px;
	background-color: #ddd;
	display: block;
}

.shopping-bag__bag {
	position: absolute;
	background: #ddd;
	top: 40px;
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
}

.shopping-bag__list li {
	display: block;
}

div[ng-view] {
	clear: both;
}