<h1>Checkout</h1>

<section ng-show="checkout.shoppingBagHasItems()">
  <h2>Your cart</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in checkout.shoppingBag">
        <td>{{item.name}}</td>
        <td ng-bind="item.description"></td>
        <td ng-bind="item.price"></td>
        <td>
          <span ng-bind="item.qty"></span>
          <a href="#" ng-click="checkout.updateQty($event, item, 1)">+</a>
          <a href="#" ng-click="checkout.updateQty($event, item, -1)">-</a>
        </td>
        <td>
          <a href="#" ng-click="checkout.remove($event, item)">Remove</a>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<p ng-hide="checkout.shoppingBagHasItems()">
  Your cart is empty!
</p>