<h1>Products</h1>

<input ng-model="searchQuery" placeholder="Search for products.." type="text" />

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="product in productList.products | filter:searchQuery">
      <td>{{product.name}}</td>
      <td ng-bind="product.description"></td>
      <td ng-bind="product.price"></td>
      <td><a href="#" ng-click="productList.addToCart($event, product)">Add to cart</a></td>
    </tr>
  </tbody>
</table>
