<div class="shopping-bag" ng-mouseleave="closeBag()">
  <a ng-mouseover="openBag()" class="shopping-bag__button">Shopping Bag ({{itemsInBag}})</a>
  <div ng-show="isOpen" class="shopping-bag__bag">
    <ul class="shopping-bag__list">
      <li ng-repeat="item in bag">
        <h4>{{item.name}} - {{item.qty}} st</h4>
        <p>{{item.description}}</p>
        
      </li>
    </ul>
    <p class="shopping-bag__total">Total: {{totalBagValue}}</p>
  </div>
</div>
